<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xux.ssm.dao.InterviewDao">
	<insert id="addInterview">
		insert into interview(apply_id,read_status,interview_time,hire) values (#{applyId},#{readStatus},#{interviewTime},#{hire});
	</insert>
	<select id="queryInterviewByApplyId" resultType="Interview">
		select *from interview where apply_id=#{id};
	</select>
	<update id="modifyInterviewReadStatus">
		UPDATE interview set read_status=#{readStatus} WHERE id=#{id};
	</update>
	<select id="queryAllInterviewsByReadStatus" resultType="Interview">
		select *from interview where read_status=#{string};
	</select>
	<select id="queryInterviewById" resultType="Interview">
		select *from interview where id=#{iid};
	</select>
	<update id="updateInterview">
		UPDATE interview SET apply_id=#{applyId},read_status=#{readStatus},interview_time=#{interviewTime},hire=#{hire} where id=#{id};
	</update>
</mapper>






		
