<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xux.ssm.dao.SalaryDao">
	<insert id="saveSalary">
		insert into salary(eid,year,month,base_salary,reward_salary,society,sum_salary,arg_salary) VALUES (#{eid},#{year},#{month},#{baseSalary},#{rewardSalary},#{society},#{sumSalary},#{argSalary});
	</insert>
	<select id="querySalaryByEid" resultType="Salary">
		SELECT *FROM salary WHERE eid=#{eid};
	</select>
	<select id="querySalaryByEidAndTime" resultType="Salary">
		SELECT *FROM salary WHERE eid=#{eid} and year=#{year} and month=#{month};
	</select>
	<select id="querySalariesByTime" resultType="Salary">
		SELECT *FROM salary WHERE year=#{i} and month=#{k};
	</select>
	<select id="querySalaryById" resultType="Salary">
		SELECT *FROM salary WHERE id=#{id};
	</select>
</mapper>






		
